body{
  background-color: #212121;
  color: #fff;
  
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  margin-right: 15px;
}

#submit{
  margin-left: 10px;
}

#reset{
  margin-left: 10px;
}

